# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = kolesa.settings

[deploy]
#url = http://localhost:6800/
project = kolesa

FEED_FORMAT = "csv"
FEED_URI = "kolesa.csv"